In [4]:
name = "Muzammil"
print(name)

Muzammil

In [5]:
name = "Muzammil"
print(name)
age = 18 
print(age)
percentage = 89.89
print(percentage)

Muzammil
18
89.89

In [6]:
name = "Muzammil"
print(type(name))
age = 18 
print(type(age))
percentage = 89.89
print(type(percentage))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
int = 50
int1 = 40
value = 70
print(int * int1)
print("int is multiply with int2", int * int1)

2000
int is multiply with int2 2000

In [13]:
int = 50
int1 = 40
value = 70
print(int * int1)
print("int is multiply with int2\t", int * int1)

2000
int is multiply with int2	 2000

In [14]:
name = "Muzammil"
print(name *5)

MuzammilMuzammilMuzammilMuzammilMuzammil

In [17]:
name = "Muzammil "
print(name*5)

Muzammil Muzammil Muzammil Muzammil Muzammil

In [23]:
string = "Muzammil"
integer = 65
print(string+integer)
#integer or string kabhi bhi add nhi ho skte agr krne ki koshish krenge to error ajaega jese

TypeError: can only concatenate str (not "int") to str

In [27]:
name = "muzammil"
print(name.upper())
print("muzammil".upper())
#is cammand se variable k ander jo value store hogi wo catipal me convert ho jaegi

MUZAMMIL
MUZAMMIL

In [29]:
name = "MUZAMMIL"
print(name.lower())
print("MUZAMMIL".lower())
#is cammand se variable k ander jo bhi value hogi us ko small letter me convert krde jese

muzammil
muzammil

In [33]:
name = "my name is mohammad muzammil"
print(name.title())
print("my name is mohammad muzammil".title())
#pythone ki is cammand se hm kisi bhi simple sentance ko ek title me convert kr skte hn jese

My Name Is Mohammad Muzammil
My Name Is Mohammad Muzammil

In [37]:
name = "my name is muzammil"
country = "Pakistan"
print(name.title(), "and my country is:".title(), country)
name = "my name is muzammil"
country = "Pakistan"
print(name.title(), "and my country is:\n".title(), country)

My Name Is Muzammil And My Country Is: Pakistan
My Name Is Muzammil And My Country Is:
 Pakistan

In [39]:
name = "Mohammad Muzammil"
print(name.istitle())
pakistan = "mohammad muzammil" 
print(pakistan.istitle())

#is cammand se hm yeh pta kr stke hn k hamara konsa sentance title me h or konsa nhi agr tilte me hoga to true result aega 
#or tile me nho hoga to false aega jese

True
False

In [41]:
name = "Muzammil"
country = "Pakistan"

print(name.find('M'))
print(name.find('m'))
print(name.find('z'))
print(name.find('x'))
print(name.find('l'))
print(name.find('L'))

print(country.find('P'))
print(country.find('a'))
print(country.find('K'))
print(country.find('n'))

#is se ap kisi sentance k ander k word ko find kr skte hn un ki value ki help se 
#jese jo words sentace me nhi h us ki value -1 ho jaegi or jo word honge un ki value bta dega

0
4
2
-1
7
-1
0
1
-1
7

In [42]:
name = 'Muzammil'
p = 'Pakistan'
print(name.find('il'))
print(name.find('mm'))


print(p.find('Pa'))
print(p.find('an'))

6
4
0
6

In [43]:
name = "Muzammil"
print(name.isalpha())

#jo hm ne string form me value likhi h us me agr only alphabets honge to is cammand se hme true result aega 
#agr is me koi bhi number ya or koi bhi chez add hogi to fales result aega only alphabets honge to hi result true me aega

True

In [45]:
name = "Mohammad Muzammil"
print(name.isalpha())

#ab jesa k ap ne dekha k alphabets hone ki waja se bhi result false aya q k j bhi 2 words k darmiyaan me space aega to false result aega

False

In [50]:
p = "123"
n = "sdm"
m = "sd mds"

print(p.isalpha())
print(n.isalpha())
print(m.isalpha())

False
True
False

In [51]:
o = "123"
p = " 123"
l = "123abc"


print(o.isdigit())
print(p.isdigit())
print(l.isdigit())

#is cammad se hm kisi sentance me numeric h ya nhi yeh maloom krskte hn agr numeric me space ajaega to bhi false result aega

True
False
False

In [52]:
e = 123
print(e.isdigit())

#hm abhi string me kaam kr rhe hn to quatation lazmi h agr quatation nhi lagaya to error aega

AttributeError: 'int' object has no attribute 'isdigit'

In [53]:
o = 2**8
print(o)

#double ** ka mtlb h k 2 ko 8 martaba multiply krega yahni 2*2*2*2*2*2*2*2  is procces ko Exponent kehte hn

256

In [54]:
o = 2*8
print(o)

#is ko simple multiply kehte hn

16

In [56]:
print(20/2)
print(5/3)

#answer recieved in float type

10.0
1.6666666666666667

In [58]:
a = 10+50
print(a)

print(50+100)

60
150

In [60]:
d = 50-40
print(d)
print(8383-7475)

10
908

In [62]:
print((20*4)-6)
print((40**4)-800)

74
2559200

In [67]:
name = "MuZamMiL"
print(name.swapcase())
print("winner".swapcase())
print("convert capital to small & SMALL TO CAPITAL")

#is cammad se hm ksi bhi sentance ko convert kr skte hn agr small h to capital me ho jaega agr capital h to smaal me ho jaega

mUzAMmIl
WINNER
convert capital to small & SMALL TO CAPITAL

In [69]:
name = 'Muzammil'
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])

#jb bhi hm positive tareqe se krenge to pythone me hamesha counting 0 se start hogi to hame first alphatbets k li 0 likhna prega

M
u
z
a
m
m

In [71]:
name = "Muzammil"
print(name[-8])
print(name[-7])
print(name[-6])
print(name[-5])
print(name[-4])
print(name[-3])
print(name[-2])
print(name[-1])


#lekin jb hm nagetive tareqe se krenge to hamari counting ulti chlegi or hame -1 pr khatam krdena h nagetive me 0 nh hota 
#-1 pr count khatam ho jati h

M
u
z
a
m
m
i
l

In [72]:
name = 'Muzammil'
print(name[0], name[1], name[2], name[3], name[4], name[5], name[6], name[7])

M u z a m m i l

In [74]:
p = "muzammil", 'pakistan', 'pak'
print(p[0], p[1], p[2])
p = "muzammil", 'pakistan', 'pak'
print(p[0])
print(p[1])

muzammil pakistan pak
muzammil
pakistan

In [1]:
p = "muzammil", 'pakistan', 'pak'
print(type(p[0]), type(p[1]), type(p[2]))

<class 'str'> <class 'str'> <class 'str'>

In [5]:
p = 'muzxmmil'
print(p.replace("x","a"))


o = "Pakivtan"
print(o.replace("v","s"))

muzammil
Pakistan

In [8]:
name = "google.com"
print(name.endswith(".com"))
p = 'muzammil'
print(name.endswith("xyz"))

#is cammand se akhri ka word agr same hoga to condition true hogi agr same nhi hoa to false aega

True
False

In [9]:
name = "google.com"
print(name.startswith("goo"))
p = 'muzammil'
print(name.startswith("xyz"))

#is cammand se hm pehla word agr same hoga to condition true hogi agr same nhi hoa to false aega

True
False

In [18]:
name = 'MUZAMMIL'
print(name.casefold())

p = 'FLOWER'
print(p.casefold())

muzammil
flower

In [17]:
name = "Muzammil"
age = 25
percentage = 97.50

print("my name is %s and my age is %d. my percentage is %.2f"%(name,age,percentage))

my name is Muzammil and my age is 25. my percentage is 97.50

In [24]:
fruit = 'mango'
age = 1
print("my favourite fruit is {} and its {} year old".format(p,o))

my favourite fruit is FLOWER and its Pakivtan year old

In [26]:
p = "a small try to learn pythone"




print(p.title())

A Small Try To Learn Pythone